html {
	font-size:1em;
}

body {
	font-family: 'Nunito Sans';
	max-width: 60em;
	margin: 3em 4em;
}

p {
	margin:0em;
}

#title {
	font-size: 1.2em;
	font-family: 'Nunito Sans';
	font-weight: 700;
}

.section {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.section-title {
	font-size: 125%;
	background-color: #fff2cc;
	padding: 0em 0.25em;
	border-radius: 0.25em;
	margin: 1.2em -4px;
	font-family: 'Nunito';
	font-weight: 600;
}

.section-title-container {
	padding: 0.2em 0em;
}

a:link {
  color: #e06666;
  text-decoration: none;
}

a:visited {
  color: #e06666;
  text-decoration: none;
}

a:hover {
  color: #ea9999;
  text-decoration: none;
}

a:active {
  color: #ea9999;
  text-decoration: none;
}

img {
	box-shadow: 0.25em 0.25em 0.25em grey;
	max-height: 14em;
} 

.photog-separator {
	padding-left: 1em;
	padding-bottom: 1em;
}

@media only screen
and (max-device-width : 600px) {html{font-size: 1em;} #title {font-size: 1.2em;} table{font-size:0.8em;}}