html {
	font-size:16px;
}

body {
	font-family: 'Nunito Sans';
	max-width: 800px;
	margin: 40px 60px;
}

p {
	margin:0px;
}

#title {
	font-size: 125%;
	font-family: 'Nunito Sans';
	font-weight: 700;
}

.section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-title {
	font-size: 125%;
	background-color: #fff2cc;
	padding: 0px 4px;
	border-radius: 5px;
	margin: 10px -4px;
	font-family: 'Nunito';
	font-weight: 600;
}

.section-title-container {
	padding: 5px 0px;
}

a:link {
  color: #e06666;
  text-decoration: none;
}

a:visited {
  color: #e06666;
  text-decoration: none;
}

a:hover {
  color: #ea9999;
  text-decoration: none;
}

a:active {
  color: #ea9999;
  text-decoration: none;
}

@media only screen
and (max-device-width : 600px) {html{font-size: 18px;} #title {font-size: 150%;} table{font-size:80%;}}